body {
    background-color: #ddc9b4;
}

main #welcome-section {
    background-color: #c17c74;
}
 #navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
 }